html,body {
    width: 100%;
    height: 100%;
    float: left;
    left: 0px;
    right: 0px;
    margin: 0px;
    padding: 0px;
    background: #ffffff;
    font-size: 14px;
    line-height: 14px;
    color: #424242;
    font-family: 'Source Sans Pro', sans-serif !important;
}
header {
    float: left;
    width: 100%;
    padding: 18px 0px;
}
section {
    float: left;
    width: 100%;
}
footer {
    float: left;
    width: 100%;
    background: #0052cc;
    padding: 42px 0px;
    font-size: 15px;
    color: #ffffff;
}
.full_width {
    float: left;
    width: 100%;
}
.logo {
    float: left;
    width: auto;
}
.logo img {
    margin-top: 10px;
}
.home_container {
    width: 1180px;
    margin: 0px auto;
    display: block;
}
ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    float: left;
    width: 100%;
}
ul li {
    list-style: none;
}
.home_menu_col {
    margin: 0px auto;
    width: 220px;
    display: block;
}
.home_menu {
    margin: 0px;
}
.home_menu li {
    font-size: 17px;
    line-height: 38px;
    font-weight: 600;
    color: #0052cc;
    letter-spacing: 0.3px;
    float: left;
    width: auto;
    margin-right: 46px;
    cursor: pointer;
}
.home_menu li a:hover {
    color: #0052cc;
    text-decoration: none;
} 
.home_menu li a {
    color: #0052cc;
}   
.home_menu li:last-child {
    margin-right: 0px;
}
p {
    margin: 0px;
}
button {
    outline: none;
}
.demo_btn {
    float: right;
    width: auto;
    font-size: 16px;
    box-shadow: 0 2px 4px 0 rgba(100, 100, 100, 0.5);
    background-color: #0052CC;
    color: #ffffff;
    font-weight: 600;
    line-height: 19px;
    border: 1px solid #0052CC;
    border-radius: 4px;
    padding: 4px 10px;
    cursor: pointer;
    height: 40px;
}
.demo_btn:hover {
    background: #ffffff;
    color: #0052CC;
    border: 1px solid #0052CC;
}
button:focus, button:visited {
    outline: none !important;
}
.banner_col {
    width: 100%;
    float: left;
}
.banner_col .banner {
    float: left;
    width: 100%;
    position: relative;
}
.banner_text_col {
    position: absolute;
    bottom: 45%;
    width: 31%;
}
.banner_text_col .demo_btn {
    float: left;
    margin-top: 50px;
    height: 40px;
}
.banner_text_col h2 {
    font-size: 38px;
    font-weight: bold;
    color: #263957;
    float: left;
    width: 100%;
}
.foo_left {
    float: left;
}
.foo_right {
    float: right;
}
.exp_block {
    float: left;
    background-image: url('../images/banner1.svg');
    margin-top: 30px;
    padding-bottom: 50px;
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 988px;
}
.pd_title {
    float: left;
    width: 100%;
    text-align: center;
    font-size: 42px;
    font-weight: bold;
    color: #ffffff;
    margin: 50px 0px 22px 0px;
}
.pd_info {
    float: left;
    width: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 25px;
    color: #ffffff;
    margin-bottom: 40px;
}
.exp_row {
    float: left;
    width: 100%;
}
.exp_col {
    float: left;
    width: 32%;
    margin-right: 23px;
    padding: 20px;
    margin-bottom: 24px;
    background: #ffffff;
    border-radius: 10px;
    height: 120px;
    position: relative;
}
.exp_col:nth-child(3n) {
    margin-right: 0px;
}
.exp_thumb {
    float: left;
    width: 80px;
}
.exp_info_col { 
    float: right;
    width: calc(100% - 100px);
}
.emp_type {
    float: left;
    width: 100%;
    font-size: 17px;
    font-weight: bold;
    color: #2d2d59;
    line-height: 24px;
    text-transform: uppercase;
    margin-top: 7px;
}
.emp_info {
    float: left;
    width: 100%;
    font-size: 16px;
    font-weight: normal;
    color: #494d75;
    line-height: 24px;
    margin-top: 10px;
}
.emp_block {
    float: left;
    width: 100%;
    margin-top: -116px;
}
.emp_left {
    float: left;
    width: 691px;
    position: relative;
    left: -67px;
}
.emp_right {
    float: right;
    width: 452px;
}
.emp_block .pd_title {
    color: #263957;
}
.emp_block .pd_info {
    color: #494d75;
}
.emp_text {
    float: right;
    color: #494d75;
    text-align: justify;
    font-size: 24px;
    line-height: 46px;
    font-weight: normal;
    letter-spacing: 0.7px;
    margin-top: 50px;
}
.why_pd_block {
    width: 100%;
    float: left;
    background: url('../images/why-peopledesk.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 740px;
}
.why_pd_block img {
    float: left;
    width: 100%;
    position: relative;
}
.why_pd_block .pd_title {
    color: #2d2d59;
    margin-top: 240px;
}
.device_block {
    padding-top: 10px;
}
.device_left {
    float: left;
    width: 550px;
    margin-top: 85px;
}
.device_right {
    float: right;
    width: 630px;
}
.device_store {
    float: left;
    width: auto;
}
.device_store .store_icon{
    float: left;
    margin-right: 30px;
}
.device_left .pd_title {
    float: left;
    color: #2d2d59;
    text-align: left
}
.device_left .pd_info {
    color: #494d75;
    float: left;
    text-align: left
}
.happy_cust_col {
    float: left;
    width: 48%;
    box-shadow: 0 6px 8px 0 rgba(164, 164, 164, 0.21);
    background-color: #ffffff;
    height: 196px;
    padding: 42px 20px 20px 30px;
    border-radius: 10px;
}
.happy_cust_col:nth-child(2n) {
    float: right;
}
.cust_thumb {
    float: left;
    width: auto;
    margin-top: 20px;
}
.cust_block {
    background: url('../images/happy-customers.svg');
    padding-bottom: 30px;
    border-bottom: 2px solid #ffffff;
    margin-top: 40px;
    padding-top: 40px;
    background-size: 100%;
    height: 580px;
    width: 100%;
    background-repeat: no-repeat;
}
.cust_info_col {
    float: right;
    width: 350px;
}
.cust_name {
    color: #0095da;
    font-size: 17px;
    line-height: 22px;
    font-weight: normal;
    float: left;
}
.cust_info {
    float: left;
    color: #6b7c93;
    font-size: 17px;
    line-height: 26px;
    margin-top: 12px;
}
.vgaurd {
    color: #f39200;
}
.time_schle {
    font-size: 30px;
    float: left;
    font-weight: normal;
    color: #ffffff;
}
.time_schel_info {
    font-size: 20px;
    float: left;
    font-weight: normal;
    color: #ffffff;
    line-height: 30px;
    margin-top: 10px;
}
.happy_cust_col .demo_btn {
        float: left;
        width: 100%;
}
.happy_cust_col .form-group {
    float: left;
    width: 80%;
}
.schedule_row {
    margin-top: 65px;
}
.schedule_col {
    float: left;
    width: 48%
}
.schedule_col:last-child {
    float: right;
    width: 40%;
}
.cus_input {
    height: 40px !important;
    background: rgba(100, 100, 100, 0.5);
    opacity: 0.4;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(100, 100, 100, 0.5);
    float: left;
    width: 100%;

}
.schedule_col .demo_btn {
    float: left;
    height: 40px;
    text-transform: uppercase;
    margin-top: 30px;
}
.pd_col {
    float: left;
    width: 32%;
    margin-right: 20px;
    margin-bottom: 30px;
}
.pd_col:nth-child(3n) {
    margin-right: 0px;
    float: right
}
.pd_col:nth-child(1n) {

}
.pd_thumb {
    margin: 0px auto;
    display: block;
    width: 74px !important;
    float: unset !important;
}
.pd_col h5 {
    float: left;
    width: 100%;
    color: #32385d;
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    text-align: center;
    margin: 24px 0px 18px 0px;
    letter-spacing: 0.7px;
}
.pd_col p {
    float: left;
    width: 100%;
    color: #494d75;
    font-size: 20px;
    line-height: 24px;
    font-weight: normal;
    text-align: center;
}
.happy_cust_row {
    margin-top: 54px;

}
.cust_block .pd_title {
    margin-top: 0px;
    color: #2d2d59;
}
.opennav {
    display: none;
    float: right;
    color: #0052cc;
    cursor: pointer;
}
.mobile_cust_row {
    display: none;
}
.mobile_pd_row {
    display: none;
}
.mobile_exp_row {
    display: none;
    margin-top: 20px;
}
.foo_right a{
    color: #ffffff;
    text-decoration: none;
}
.foo_right a:hover {
    color: #ffffff;
    text-decoration: none;
}
.mobile_banner_text_col {
    display: none;
}
.mobile_banner_text_col h2 {
    font-size: 24px;
    text-align: center;
    margin-top: 30px;
}
.mobile_banner_text_col .demo_btn {
    width: 100%;
}
.opennav {
    display: none;
}
.emp_desk {
    display: block;
}
.emp_mobile {
    display: none;
}

/********************************* mobile menu navigation ***************************************************************/
    .overlay {
        display: none;
    }
/************************* end  ***********************************/


.demo_banner {
    float: left;
    width: 100%;
    background: #005eed url('../images/demo_banner.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 356px;
}
.thankyou_banner {
    float: left;
    width: 100%;
    background: #005eed url('../images/thankyou_bg.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 600px;
}
.thankyou_banner .demo_head {
    margin-top: 150px;
}
.demo_banner img {
    float: left;
    width: 100%;
}
.footer_demo {
    background: #f4f5f7;
    color: #282c36;
}
.footer_demo a {
    color: #282c36;
}
.footer_demo a:hover {
    color: #282c36;
}
.demo_head {
    font-size: 48px;
    line-height: 60px;
    float: left;
    width: 100%;
    font-weight: bold;
    color: #ffffff;
    font-style: normal;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 28px;
}
.demo_info {
    font-size: 20px;
    line-height: 25px;
    float: left;
    width: 100%;
    font-weight: bold;
    color: #ffffff;
    font-style: normal;
    text-align: center;
}
.demo_form_block {
    float: left;
    width: 100%;
    position: relative;
    top: -130px;
}
.demo_form {
    width: 684px;
    display: table;
    margin: 0px auto;
    border-radius: 8px;
    box-shadow: 0 20px 32px -8px rgba(9, 30, 66, 0.25), 0 0 1px 0 rgba(9, 30, 66, 0.31);
    background-color: #ffffff;
    padding: 30px;
    height: auto;
}
.send_btn {
    float: left;
    width: 194px;
    height: 56px;
    text-transform: uppercase;
    font-size: 18px;
}
.demo_form .form-control{
    height: 56px;
    font-size: 18px;
    line-height: 18px;
    color: #757575;
    padding: 18px 23px;
    float: left;
    width: 100%;
    margin-bottom: 15px;
}
.demo_form .label {
    font-size: 18px;
    line-height: 18px;
    float: left;
    width: 100%;
    color: #282c36;
    font-weight: 600;
    font-style: normal;
    margin-bottom: 14px;
}
.demo_form .form-group .error {
    color: red;
}
.demo_form .form-group {
    float: left;
    width: 100%;
}
.coming_soon {
    position: absolute;
    font-size: 11px;
    font-weight: 800;
    color: #006644;
    background-color: #e2ffee;
    border-radius: 3px;
    width: 115px;
    right: 18px;
    top: 8px;
    text-align: center;
    text-transform: uppercase;
}
.back_to {
    float: left;
    width: 100%;
    font-size: 20px;
    line-height: 20px;
    color: #ffffff;
    font-weight: normal;
    margin-top: 48px;
    text-align: center;
    cursor: pointer;
    position: relative;
}
.back_to::after {
    content: "";
    display: block;
    width: 190px;
    background-color: #ffffff;
    height: 1px;
    margin: 2px auto;
}
/********************** custom form validations css *******************************************/
input:valid {
    border: 1px solid green;
}
input:invalid {
    /* border: 1px solid red; */
}
.demo_form .form-control:hover {
    border: 1px solid #005eed;
}
input:internal-autofill-selected {
    background: #ffffff;
}
.schedule_row .demo_btn {
    background: #ffffff;
    border: 1px solid #ffffff;
    color: #005eed;
}
.schedule_row .demo_btn:hover {
    color: #ffffff;
    background: #0052cc;
}
.play_store_info {
    margin-bottom: 8px;
}
label.error {
    color: red;
    float: left;
    width: 100%;
    font-size: 12px;
    font-weight: normal;
    line-height: 12px;
    margin: -8px 0 12px;
    padding-left: 5px;
    display: none;
}    
.demo_form .error {
    color: red !important;
}

/***************************** media queries for mobile devices *************************************/
@media only screen and (max-width: 767px) {
    .opennav {
        display: block;
    }
    .home_container {
        width: 90%;
    }
    .opennav {
        display: block;
    }
    .logo {
        /* width: 125px;
        margin: 0px auto;
        display: block;
        float: unset; */
        margin-top: 10px;
    }
    .banner_text_col h2 {
        font-size: 12px;
    }
    .mobile_banner_text_col h2 {
        margin-bottom: 20px;
    }
    .home_menu_col {
        width: 100%;
        display: none;
    }
    .home_menu li {
        text-align: center;
        margin: 5px 0px;
        width: 100%;
        color: #ffffff;
    }
    .mobile_demo_btn {
        width: 175px;
        float: unset;
        margin: 0px auto;
        display: block;
    }
    .foo_left, .foo_right {
        width: 100%;
        text-align: center;
    }
    .banner_text_col {
        width: 50%;
        bottom: 56%;
    }
    .banner_text_col .demo_btn {
        height: 30px;
        margin-top: 0px;
    }
    .pd_title {
        font-size: 24px;
    }
    .exp_col {
        width: 100%;
        box-shadow: 0px 1px 4px #ccc;
        margin-right: 0px;
    }
    .emp_block {
        margin-top: 0px;
    }
    .exp_block {
        height: auto;
        padding-bottom: 0px;
    }
    .emp_left, .emp_right {
        width: 100%;
        left: 0px;
    }
    .emp_left img {
        width: 100%;
    }
    .emp_text {
        font-size: 16px;
        line-height: 36px;
    }
    .pd_col {
        width: 100%;
        margin-right: 0px;
    }
    .why_pd_block {
        height: auto;
    }
    .device_left {width: 100%;margin-top: 0px;}
    .device_right {width: 100%;}
    .device_right img {width: 100%;}
    .device_store .store_icon:last-child {
        float: right;
        margin-right: 0px;
    }
    .device_store {
        width: 100%;
        margin-bottom: 30px;
    }
    .happy_cust_col {
        width: 100%;
        margin-bottom: 20px;
        height: auto;
    }
    .cust_block {height: auto;}
    .cust_thumb {
        width: 100px;
        float: unset;
        display: block;
        margin: 0px auto;
    }
    .cust_info_col {width: 100%;}
    .cust_info_col {margin-top: 20px;}
    .cust_name {text-align: center;width: 100%}
    .schedule_col {width: 100%;}
    .time_schle, .time_schel_info {color: #494d75}
    .schedule_col:last-child {width: 100%}
    .schedule_col .demo_btn {width: 100%}
    .emp_type {font-size: 14px;line-height: 20px}
    .cust_block .pd_title {margin-top: 50px !important; margin-bottom: 50px;color: #ffffff}
    .why_pd_block .pd_title {
        margin-top: 112px;
    }
    .emp_block .pd_title {
        margin-top: 30px;
    }
    .pd_row {
        margin-top: 60px;
    }
    .device_left .pd_title {
        margin-top: 0px;
    }
    .mobile_cust_row {
        display: block;
    }
    .happy_cust_row {
        display: none;
    }
    .carousel-control-next-icon {
        color: #0052cc;
        font-size: 26px;
    }
    .carousel-control-prev-icon {
        color: #0052cc;
        font-size: 26px;
    }
    .carousel-indicators .active {
        background: #0052cc !important;
    }
    .carousel-indicators li {
        width: 15px !important;
        height: 15px !important;
        border-radius: 50%;
        background: #46ce90 !important;
    }
    .carousel-control-next, .carousel-control-prev {
        top: -66px !important;
    }
    .pd_row {
        display: none;
    }
    .mobile_pd_row {
        display: block;
        margin-top: 70px;
    }
    .exp_row {
        display: none;
    }
    .carousel-control-next, .carousel-control-prev {
        top: -66px !important;
    }
    .mobile_exp_row {
        display: block;
    }
    .mobile_exp_row .carousel-indicators {
        bottom: -23px;
    }
    .mobile_pd_row .carousel-indicators {
        bottom: -2px;
    }
    .mobile_cust_row .carousel-indicators {
        bottom: -32px;
    }
    .mobile_exp_row .carousel-control-prev {
        left: -17px;
    }
    .banner_text_col {display: none}
    .mobile_banner_text_col {
        display: block;
    }
    .mobile_demo_btn {
        display: none;
    }
    .emp_desk {
        display: none;
    }
    .emp_mobile {
        display: block;
    }
    /************************ mobile menu navigation css ****************/
    .overlay {overflow-y: auto;}
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }

    .overlay {
        height: 0%;
        width: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.9);
        overflow-y: hidden;
        transition: 0.5s;
        display: block;
      }
      
      .overlay-content {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
      }
      
      .overlay a {
        padding: 8px;
        text-decoration: none;
        font-size: 36px;
        color: #818181;
        display: block;
        transition: 0.3s;
      }
      
      .overlay a:hover, .overlay a:focus {
        color: #f1f1f1;
      }
      
      .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
      }
      .demo_form {
          width: 100%;
          padding: 10px;
      }
      .demo_form_block {
          position: unset;
          padding: 20px 0px;
      }
      .send_btn {
          width: 100%;
      }
      .demo_head {
          font-size: 30px;
          line-height: 40px;
          margin-top: 30px;
          margin-bottom: 10px;
      }
      .demo_info {
          font-size: 16px;
      }
      .demo_banner, .thankyou_banner {
          height: auto;
      }
      .thankyou_banner .demo_head {margin-top: 20px;}
      .back_to {margin-top: 20px;margin-bottom: 20px}

    /******************* end  ********************/
}







